.highlight-div {
  background: #f9e0fa;
  display: inline-flex;
  align-items: center;
  /* width: 50%; */
  font-size: 14px;
  line-height: 21px;

  padding-right: 20px;
  gap: 20px;
}

.highlight-div h4 {
  font-weight: 600;
  margin-bottom: -8px;
}
.highlight-div button {
  padding: 10px 18px;
  background-color: #56524f;
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 2px;
}

.templates {
  color: #241c15;
  font-family: "Graphik Web Regular";
}

.templates > div:last-child {
  padding: 10px 30px;
}

.templates--list h2 {
  font-size: 36px;
  line-height: 45px;
  vertical-align: baseline;
  letter-spacing: -0.5px;
  font-weight: 400;
  margin: 15px 0;
}

.templates--list ul {
  padding: 0;
  display: flex;
  list-style: none;
  gap: 25px;
  border-bottom: 1px solid rgba(36, 28, 21, 0.15);
  /* padding: 12px 0; */
  color: rgba(36, 28, 21, 0.65);
  font-size: 16px;
  font-weight: 500;
  font-family: "Graphik Web Medium";
  line-height: 36px;
  margin-top: 35px;
}
.active--list {
  color: teal;
  border-bottom: 1px solid teal;
}

.template-features {
  display: flex;
  gap: 30px;
}
