#page{
    color:
rgb(36, 28, 21);
}
#paymentNav{
height: 60px;
background-color: rgb(239,238,234);
/* --typeface-brand: "Means Web",Georgia,Times,"Times New Roman",serif; */
font-family: "Graphik Web","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
font-weight: 500;
font-size: 15px;
font-weight: 600;
display: flex;
justify-content: space-between;
 }
 #x{
     border:  3px solid red;
 }
 #selectionSmall{
     border: 2px solid cyan;
     /* width: 100px; */
     display: flex;
     margin-top: 50px;
     margin-left: 120px;
     font-size: 14px;
     font-family: "Means Web",Georgia,Times,"Times New Roman",serif;

 }

 #selectionSmall>div{
     margin-left: 10px;
     color: rgb(140, 140, 140);

 }
 #selectionSmall>div:first-child{
    color: darkcyan;
}
#selectionBox{
    border: 1px solid green;
    width: 84%;
    height: 500px;
    margin: auto;
    margin-top: 15px;
}
#recommend{
    width: 190px;
    font-weight: 600;
    padding: 4px;
    background-color: darkcyan;
    font-size: 14px;
    color: white;
    /* border-radius: 2px; */
    margin-left: 200px;
}

#PriceSummary{
    border: 2px solid maroon;
    display: grid;
    grid-template-columns: 69% 28%;
    justify-content: space-between;
    height: 90%;
}
#PriceSummary>div{
    /* border: 1px solid blue; */
}
#summaryCard{
    height: 100%;
    border: 1px solid gainsboro;
}
#priceCard{
    /* border: 1px solid black; */
    height: 75%;
    display: grid;
    font-family: "Graphik Web","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;

    grid-template-columns: repeat(4,25%);
}
#priceCard>div{
    border: 1px solid gainsboro;
 height: 100%;
}
#premiumInput{
    display: flex;
    justify-content: space-between;
    margin: 20px 5px;
    font-size: 28px;
    font-family: "Means Web",Georgia,Times,"Times New Roman",serif;;
}
#premiumInput>div{
    /* border: 1px solid red; */
    margin-top: -5px;
}
#premiumAdvanced{
    text-align: left;
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
    font-size: 14px;
    line-height:
20px;
}
#PremiumYou{
    margin-top: 55px;
    font-size: 14px;
}
#PremiumPriceLogo{
    /* border: 3px solid blueviolet; */
    display: flex;
    width: 92%;
    /* margin: auto; */
    font-family: "Means Web",Georgia,Times,"Times New Roman",serif;;
text-align: center;
/* margin-left: 5px; */
}
.PremiumPriceLogo0{
    margin-left: 10px;
    /* border: 1px solid cyan; */
    
    }
.PremiumPriceLogo3{
margin-left: 60px;
/* border: 1px solid cyan; */

}
.PremiumPriceLogo2{
    margin-left: 40px;
    
    }
    .PremiumPriceLogo1{
        margin-left: 30px;
        }
#essential{
    border: 7px solid darkcyan;
    border: none;

}

#priceLogo{
font-size: 28px;
/* border: 1px solid brown; */
margin-top: 16px;
text-align: center;
}
#PremiumPriceLogo>div:last-child{
    font-size: 54px;

}
#month{
    font-size: 14px;
    margin: 20px 0px;
    font-family: "Means Web",Georgia,Times,"Times New Roman",serif;;

}
#tenthousand{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;

}
#tenthousand>span{
    font-family: "Means Web",Georgia,Times,"Times New Roman",serif;;

}