#page{
    color:
rgb(36, 28, 21);
}
#paymentNav{
height: 60px;
background-color: rgb(239,238,234);
/* --typeface-brand: "Means Web",Georgia,Times,"Times New Roman",serif; */
font-family: "Graphik Web","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
font-weight: 500;
font-size: 15px;
font-weight: 600;
display: flex;
justify-content: space-between;
 }
 #x{
     border:  3px solid red;
 }
 #selectionSmall{
     border: 2px solid cyan;
     /* width: 100px; */
     display: flex;
     margin-top: 50px;
     margin-left: 120px;
     font-size: 14px;
     font-family: "Means Web",Georgia,Times,"Times New Roman",serif;

 }

 #selectionSmall>div{
     margin-left: 10px;
     color: rgb(140, 140, 140);

 }
 #selectionSmall>div:first-child{
    color: darkcyan;
}
#selectionBox{
    border: 1px solid green;
    width: 80%;
    height: 500px;
    margin: auto;
    margin-top: 15px;
}
#recommend{
    width: 180px;
    font-weight: 600;
    padding: 4px;
    background-color: darkcyan;
    font-size: 14px;
    color: white;
    border-radius: 2px;
}

#PriceSummary{
    border: 2px solid maroon;
    display: grid;
    grid-template-columns: 70% 28%;
    justify-content: space-between;
    height: 90%;
}
#PriceSummary>div{
    /* border: 1px solid blue; */
}
#summaryCard{
    height: 100%;
    border: 1px solid gainsboro;
}
#priceCard{
    border: 1px solid black;
    height: 75%;
    display: grid;
    grid-template-columns: repeat(4,25%);
}
#priceCard>div{
    border: 1px solid gainsboro;
 height: 100%;
}