#smallbox0 {
  font-family: "Graphik Web Regular", "Helvetica Neue", Helvetica, Arial,
    Verdana, sans-serif;
  border-left: 8px solid #ffe01b;
  padding-left: 8px;
  /* margin: 0px; */
}
#smallbox1 {
  background-position: 135px;
  background-image: url("https://login.mailchimp.com/release/1.1.1cf6f186fff809e72c1926a6889fdf8a84b938d52/images/brand_assets/illos/art-hero-flowers.png"),
    linear-gradient(to left, #ffe01b 0% 35%, #fff 20% 50%);
}
#smallbox2 {
  /* height: 100%; */
  width: 70%;
  background-color: white;
}
#logo {
  height: 40px;
  margin-right: 580px;
  margin-top: 10px;
}
#smallbox3 {
  width: 62%;
  margin: auto;
  margin-left: 176px;
  text-align: left;
  margin-top: 10px;
}
#welcome {
  line-height: 35.2px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  font-size: 32px;
  font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
}
#create {
  margin-top: 10px;
  font-size: 16px;
}
#create > span a {
  color: darkcyan;
  cursor: pointer;
  padding: 0 10px;
}

#form {
  margin-top: 20px;
  color: #241c15;
}

#email {
  font-weight: 500;
  font-family: "Graphik Web Medium", "Helvetica Neue", Helvetica, Arial, Verdana,
    sans-serif;
}

#emailInput {
  width: 97%;
  margin: 12px 0px;
  height: 40px;
  font-size: 16px;
  /* color: ; */
  margin-bottom: 25px;
  border: 1px solid rgba(36, 28, 21, 0.3);
  padding-left: 10px;
  transition: all 0.2s ease-in-out 0s;
}

input:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #007c89;
  border: 1px solid #007c89;
}

#checkbox {
  transform: scale(2);
  border: none;
  border: 1px solid #ddd;
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
}

#spamMail {
  margin-left: 20px;
  font-size: 14px;
}
#spamMail > label,
#terms > span {
  color: darkcyan;
  text-decoration: underline;
  cursor: pointer;
}

#terms {
  font-size: 14px;
  line-height: 21px;
}
#button {
  width: 160px;
  height: 40px;
  border: 1px solid #dedddc;
  color: #bdbbb9;
  cursor: pointer;
  font-weight: 500;
  font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana,
    sans-serif;
  text-align: center;
  vertical-align: middle;
  height: 48px;
  line-height: 46px;
  font-size: 16px;
  background-color: white;
}
#button:hover {
  background-color: darkcyan;
  color: white;
}
#credit {
  color: rgba(36, 28, 21, 0.65);
  font-size: 12px;
  margin-top: 60px;
  margin-bottom: 20px;
}
